src/main/java/com/dd/springwebservice/webservice/readerService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example/" name="readerService">
<types>
<xsd:schema>
<xsd:import namespace="http://example/" schemaLocation="http://localhost:8080/readerService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getReader">
<part name="parameters" element="tns:getReader"></part>
</message>
<message name="getReaderResponse">
<part name="parameters" element="tns:getReaderResponse"></part>
</message>
<message name="getStrDemo">
<part name="parameters" element="tns:getStrDemo"></part>
</message>
<message name="getStrDemoResponse">
<part name="parameters" element="tns:getStrDemoResponse"></part>
</message>
<message name="getReaders">
<part name="parameters" element="tns:getReaders"></part>
</message>
<message name="getReadersResponse">
<part name="parameters" element="tns:getReadersResponse"></part>
</message>
<portType name="IReaderService">
<operation name="getReader">
<input wsam:Action="http://example/IReaderService/getReaderRequest" message="tns:getReader"></input>
<output wsam:Action="http://example/IReaderService/getReaderResponse" message="tns:getReaderResponse"></output>
</operation>
<operation name="getStrDemo">
<input wsam:Action="http://example/IReaderService/getStrDemoRequest" message="tns:getStrDemo"></input>
<output wsam:Action="http://example/IReaderService/getStrDemoResponse" message="tns:getStrDemoResponse"></output>
</operation>
<operation name="getReaders">
<input wsam:Action="http://example/IReaderService/getReadersRequest" message="tns:getReaders"></input>
<output wsam:Action="http://example/IReaderService/getReadersResponse" message="tns:getReadersResponse"></output>
</operation>
</portType>
<binding name="ReaderServicePortBinding" type="tns:IReaderService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getReader">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getStrDemo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getReaders">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="readerService">
<port name="ReaderServicePort" binding="tns:ReaderServicePortBinding">
<soap:address location="http://localhost:8080/readerService"></soap:address>
</port>
</service>
</definitions>